#new {
    color: black;
    font-size: 50px;
}
#search {
    background-color:rgba(255, 251, 251, 0.877);
    color: black;
    width: 100%;
    position: fixed;
    left: 700px;
}
.table {
    border: 3px solid black;
    width:100%;
}
.newmusic {
    position:relative;
    right: 100px;
}
#firstp {
    padding: 15px;
}
html {
    background-color: cornflowerblue;
}
#studio1 {
    position: relative;

    width:250px; 
}
#studio2 {
    position: relative;
    left:800px;
    width:250px;
}
#image2 {
    width:400px;
    height:300px;
}
#image1 {
    width:400px;
    height:300px;
}
#image3 {
    width:400px;
    height:300px;
}
#releases {
   text-align:center;
   font-size: 65px;
   font-family: times ;
}
#table2 {
    border: 5px;
    width:30%;
    border-collapse:collapse;
    

}
#artist {
    border: 6px solid black;
}
#title {
    border: 6px solid black;
}
#release {
    border: 6px solid black;
}
#publish {
    border: 6px solid black;
}
.MCR > th {
    border: 2px solid black;
}
.Sans > th {
    border:2px solid black;
}
.Conner > th {
    border:2px solid black;
}
.Lit > th {
    border:2px solid black;
}
#paragraph2 {
    border-radius: 50%;
    font-size: 25px;
    padding:30px;
}
#conner {
    word-spacing: 400px;
}