.grid-container {
    display:grid;
    grid-gap: 5px;
    grid-template-columns: repeat (5, 1fr)
}


@media only screen and ( max-width: 600px) {
    #header{
        background-color: blue;
        grid-columns: 1/5;
    } 
    #article1 {
        background-color: hotpink;
        grid-columns: 1/5;
    }
    #main {
        background-color: orange;
        grid-columns: 1/5;
    }
    #article2 {
        background-color: navy;
        grid-columns: 1/5;
    }
    #footer {
        background-color: yellow;
        grid-columns: 1/5;
    }
}

@media only screen and ( min-width: 600px) {
    #header{
        background-color: red;
        grid-columns: 1/5; 
    }
    #article1 {
        grid-columns: 1/2;
        background-color: hotpink;
    }
    #main {
        background-color: orange;
        grid-columns: 3/5;
    }
    #article2 {
        background-color: navy;
        grid-columns: 1/5;
    }
    #footer {
        background-color: yellow;
        grid-columns: 1/5;
    }
}

@media only screen and ( min-width: 900px) {
    #header{
        background-color: green;
    } 
    #article1 {
        grid-columns: 1/5;
    }
    #main {
        grid-columns: 1/5;
    }
    #article2 {
        grid-columns: 1/5;
    }
    #footer {
        grid-columns: 1/5;
    }
}